h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1.8rem;

}

.contact {
  border: 3px solid #303030;
  border-radius: 2px;
  padding: 10px 20px;
}

.contact a {
  color: #303030;
  line-height: 30px;
}

.row {
  display: flex;
  flex-direction: column;
}

.column {
  text-align: justify;
  margin-top: 40px;
}

.skills {
  line-height: 40px;
}

.square {
  border: none;
}

/* ========================================================
  Media Queries for info page container
==========================================================*/

@media (min-width: 1000px) {
  .row {
    flex-direction: row;
  }


  .intro {
    padding-right: 200px;
    margin-top: 40px;
  }


}
