.square {
  /*border: none;*/
  margin-top: 0;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.box {
  height: 250px;
  width: 250px;
  border-radius: 2px;
  margin: 40px;
  position: relative;
  border: 2px solid #303030;

}

.projectBox {
  background-color: #1ff042;

  border-radius: 4px;
  width: 200px;
  height: 200px;
  margin: auto;
  transition: all .1s ease-in-out;
}

 a .projectBox:hover {
  border-radius: 50%;
  cursor: pointer;
}

.number {
  position: absolute;
  top: 4px;
  left: -40px;
  z-index: 3;
  opacity: 0.9;

}

.title {
  position: absolute;
  top: 200px;
}

.line {
  position: relative;
  top: 180px;
  height: 10px;
  width: auto;
  border-bottom: 2px solid #383838;
  opacity: 0.8;
  z-index: 100;
}
